<div ng-controller="newmovieCtrl">
    <div class="container-fluid">
        <div class="row">
            <form ng-submit="addMovie()" name="mForm">
                <div style="width: 100%" class="movie_wrapper movie_view col-lg-12 row">
                    <div class="col-lg-4 col-md-5 col-sm-4 col-xs-6 img_wrapper">
                        <img class="poster_img"
                             ng-src="{{movie.posterURL || 'resources/no-poster-available.png'}}"/>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-8 col-xs-6">
                        <div class="edit_mov">
                            <div class="form-group">
                                <label>Title
                                    <input class="form-control" type="text" ng-model="movie.movieName"
                                           placeholder="Movie title" style="border: 1px outset;"/>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Director
                                    <input class="form-control" type="text" ng-model="movie.director"
                                           placeholder="Director" style="border: 1px outset;"/>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Release date <input class="form-control" type="date"
                                                           ng-model="movie.releaseDate" style="border: 1px outset;"/>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Poster url
                                    <input class="form-control" type="url" ng-model="movie.posterURL"
                                           placeholder="Poster URL" style="border: 1px outset;"/>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Trailer url
                                    <input type="url" class="form-control" ng-model="movie.trailerURL"
                                           placeholder="Trailer URL" style="border: 1px outset;"/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <textarea id="description" class="form-control" placeholder="Movie description"
                              ng-model="movie.description" style="margin-left: 30px; margin-right: 30px; border: 1px outset; width: 97%; min-width: inherit; max-width: none;"></textarea>
                </div>
                <div class="row">
                    <div class="center-block col-lg-2 col-md-2 col-sm-2 col-sx-2" style="float: none;">
                        <button type="submit" class="btn btn-info create_movie">Create movie</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>