<div ng-controller="manageCtrl">

    <div class="row manage_movie_wrap">
        <div ng-repeat="movie in movies" class="col-sm-6 col-md-3 manage_movie">
            <div class="thumbnail">
                <img ng-src="{{movie.posterURL || 'resources/no-poster-available.png'}}">
                <div class="caption">
                    <h3 class="manage_t"><a ng-href="#!/movies/{{movie.id}}">{{movie.movieName}}</a></h3>
                    <p>Director: {{movie.director}}</p>
                    <p>Release date: {{movie.releaseDate}}</p>
                    <p>Rating: {{movie.rating}}</p>
                    <p>
                        <a ng-href="#!/admin/emovies/{{movie.id}}" class="btn btn-primary" role="button">Edit movie</a>
                        <button ng-click="updateRating(movie.id)" class="btn btn-default">Rating</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="next" ng-if="notFirst">
                            <a href="" ng-click="goFirst()">First</a>
                        </li>
                        <li ng-if="notFirst">
                            <a href="" ng-click="prev()" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li ng-class="(page == n) ? 'active' : ''" ng-if="numberOfPages > 1" ng-repeat="n in [] | pages: page:numberOfPages">
                            <a href="" ng-click="goToPage(n)">{{n+1}} </a>
                        </li>
                        <li ng-if="notLast">
                            <a ng-click="next()" href="" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="previous" ng-if="notLast">
                            <a href="" ng-click="goLast()">Last</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <section class="col-lg-6 col-md-6 col-sm-12 col-xs-12 center-block no_data">
                <div ng-if="noMovies" class="alert alert-info">
                    No movies found
                </div>
            </section>
        </div>
    </div>

</div>