<div ng-controller="accountCtrl">
    <form name="accForm" ng-submit="updateAccount()">
        <label>
            Nickname:<input type="text" ng-model="user.name" placeholder="Your nickname" required>
        </label>
        <label>
            Login:<input type="email" ng-model="user.login" placeholder="Your e-mail" required>
        </label>
        <label>
            Password:<input type="password" ng-model="user.password" placeholder="Leave blank to keep old password">
        </label>
        <button type="submit">Update account</button>
    </form>
</div>