<div ng-controller="accountCtrl" class="container-fluid">
    <div class="row">
        <div class="center-block col-lg-3 col-md-5 col-sm-7 col-xs-10" style="float: none">
            <form name="accForm" ng-submit="updateAccount()" class="login_form">
                <div class="form-group" ng-class="{ 'has-error' : accForm.name.$invalid && !accForm.name.$pristine}">
                    <label>
                        Nickname:<input class="form-control" type="text" ng-minlength="3" ng-maxlength="20" name="name"
                                        ng-model="user.name" placeholder="Your nickname" required>
                    </label>
                    <p ng-show="accForm.name.$invalid && !accForm.name.$pristine" class="help-block">
                        Enter name between 3 and 20 characters</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : accForm.login.$invalid && !accForm.login.$pristine}">
                    <label>
                        Login:<input class="form-control" type="email" ng-minlength="3" ng-maxlength="60" name="login"
                                     ng-model="user.login" placeholder="Your e-mail" required>
                    </label>
                    <p ng-show="accForm.login.$invalid && !accForm.login.$pristine" class="help-block">
                        Valid e-mail is required for login</p>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : accForm.password.$invalid && !accForm.password.$pristine}">
                    <label>
                        Password:<input class="form-control" type="password" ng-model="user.password" ng-minlength="3"
                                        ng-maxlength="15" name="password"
                                        placeholder="Leave blank to keep old password">
                    </label>
                    <p ng-show="accForm.password.$invalid && !accForm.password.$pristine" class="help-block">
                        Password should be between 3 and 15 characters long</p>
                </div>
                <button ng-disabled="accForm.$invalid" type="submit" class="btn btn-info">Update account</button>
            </form>
            <div id="upd_result"></div>
        </div>
    </div>
</div>