/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li > form {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

/*----------------------------------------------------Login*/
.login_form {
    border: 2px solid #bdc3c7;
    border-radius: 3px;
    padding: 14px;
    margin-top: 20vh;
}

.login_form label {
    width: 100%;
    margin: 5px 0;
    font-size: 16px;
}

.login_form label input {
    margin-top: 10px;
    font-size: 18px;
}

.login_form button {
    width: 50%;
    display: block;
    margin: 0 auto;
    font-size: 18px;
}

#log_result {
    margin-top: 1vh;
    text-align: center;
}

/* ------------------------------------------------Navigation*/
.nav_search {
    position: relative;
}

.nav_search button {
    outline: none;
    border: none;
    background: none;
    font-size: 18px;
    position: absolute;
    right: 7px;
    top: 6px;
}

.nav_search input {
    padding-right: 35px;
}

/*--------------------------------------------Movies wrapp*/

.movie_wrapper {
    margin: 20px 0;
    float: left;
}

.movie_wrapper .poster_img {
    width: 100%;
    max-width: 200px;
    min-width: 200px;
    min-height: 273px;
}

.movie_wrapper .m_title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 7px;
}

.movie_wrapper .img_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie_wrapper .m_date {
    color: #7f8c8d;
    margin-bottom: 4px;
}

.movie_wrapper .m_director {
    margin-bottom: 4px;
}

.movie_wrapper .m_rating {
    margin-bottom: 7px;
    margin-top: 7px;
}

.movie_wrapper .m_rating:after {
    content: "/10";
}

.movie_wrapper .m_desc {
    text-indent: 3em;
    margin-top: 10px;
    font-size: 13px;
}

/*--------------------------------------------Search*/

.search_result {
    margin: 0 16px;
    font-size: 18px;
    font-weight: 600;
    color: #34495e;
}

/*--------------------------------------------no data section*/

.no_data {
    float: none !important;
    text-align: center;
    margin-top: 20px;
}

/*-------------------------------------------Registration*/

#reg_result {
    margin-top: 1vh;
    text-align: center;
}

/*------------------------------------------Movie view*/
.movie_view .poster_img {
    max-width: 350px;
}

.movie_view .m_title {
    font-size: 28px;
}

.movie_view .m_date {
    font-size: 18px;
}

.movie_view .m_director {
    font-size: 18px;
}

.movie_view .m_rating {
    font-size: 18px;
}

.movie_view .m_desc {
    font-size: 16px;
    margin-top: 15px;
    padding: 20px 20px;
    background-color: #ecf0f1;
    border-radius: 4px;
    width: 100%;
}

.movie_view input {
    outline: none;
    border: none;
    cursor: pointer;
}

.movie_view input:focus {
    background-color: #ecf0f1;
    border-radius: 3px;
    padding: 5px;
    cursor: text;
    color: black;
}

.movie_view textarea {
    outline: none;
    border: none;
    background: transparent;
    max-width: 100%;
    min-width: 100%;
    margin-left: -45px;
    resize: vertical;
    cursor: pointer;
    min-height: 150px;
}

.movie_view textarea:focus {
    cursor: text;
}

.movie_view .m_p_url input {
    margin-left: 10px;
    width: 80%;
    min-width: 250px;
}

.movie_view .save_changes {
    display: block;
    min-width: 150px;
    max-width: 450px;
    padding: 10px 3px;
    margin: 10px auto;
    font-size: 16px;
}

section.edit_mov {
    width: 100% !important;
}

@media (max-width: 768px) {
    .movie_view section {
        margin-top: 35px;
    }

    .movie_view .img_wrapper {
        display: flex;
        justify-content: center;
    }

    .movie_view .poster_img {
        max-width: 230px;
    }

    .movie_view .xs-m_desc {

    }
}

.review textarea {
    max-width: 100%;
}

.review {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 4px;
    font-size: 18px !important;
    margin-top: 20px;
}

.review_item {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 4px;
    font-size: 18px !important;
    margin-top: 20px;
    overflow: hidden;
}

.review_item .title_wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.review_item .title_wrapper .r_rating:before {
    content: "Rating: ";
}

.review_item .title_wrapper .r_rating:after {
    content: "/10";
}

.review_item .title_wrapper .r_title {
    font-size: 18px;
    font-weight: 600;
}

.review_item:last-child {
    margin-bottom: 50px;
}

.review_item .title_wrapper .r_auth {
    color: #7f8c8d;
}

.review_item .r_date {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #7f8c8d;
    font-size: 16px;
    margin-top: 20px;

}

.review_item .r_date button {
    margin: 0 7px;
    padding: 3px 8px !important;
    opacity: 0.7;
}

.review_item .r_date button:hover {
    opacity: 1;
}

.review_item .r_date span:before {
    content: "Posted: ";
    font-style: italic;
}

.review button {
    font-size: 15px;
    width: 50%;
    max-width: 150px;
    display: block;
    padding: 10px 0;
    margin-top: 20px;
}

.review_wrapper {
    padding: 0 15px;
}

body {
    font-family: "Open Sans" !important;
}

.tira_wrapper {
    display: flex;
    justify-content: space-between;
}

.users_table td {
    vertical-align: middle !important;
}

.users_table .butt_td {
    text-align: center;
}

.users_table .butt_td button {
    width: 100%;
}

.manage_movie img {
    max-width: 170px !important;
    width: 170px !important;
    height: 250px !important;
    margin-top: 15px;
    opacity: 0.8;
}

.manage_movie {
    max-width: 300px;
}

.manage_movie_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.manage_movie .manage_t {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.r_holder {
    display: flex;
    margin-bottom: 7px;
}

.result_block {
    margin-top: 20px;
    text-align: center;
}

.u_banned {
    color: #e74c3c !important;
    text-decoration: line-through;
}

.u_butt_admin {
    color: white !important;
    background: #2ecc71 none !important;
}

.u_butt_banned {
    color: white !important;
    background: #d35400 none !important;
}