<div ng-controller="usersCtrl">
    <table style="border-style: double;">
        <thead>
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Username</th>
            <th>Admin</th>
            <th>Banned</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.id}}</td>
            <td>{{user.login}}</td>
            <td>{{user.name}}</td>
            <td><button ng-click="admin(user.id)">{{user.admin}}</button></td>
            <td><button ng-click="ban(user.id)">{{user.banned}}</button></td>
        </tr>
        </tbody>
    </table>

    <ul class="menu">
        <li ng-if="notFirst">
            <b ng-click="goFirst()">First</b>
        </li>
        <li ng-if="notFirst">
            <i ng-click="prev()">Prev</i>
        </li>
        <li ng-if="numberOfPages > 1" ng-repeat="n in [] | pages: page:numberOfPages">
            <a ng-click="goToPage(n)">{{n+1}} </a>
        </li>
        <li ng-if="notLast">
            <i ng-click="next()">Next</i>
        </li>
        <li ng-if="notLast">
            <b ng-click="goLast()">Last</b>
        </li>
    </ul>

    <div ng-if="noUsers">
        No users found
    </div>

</div>