<div ng-controller="usersCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="next" ng-if="notFirst">
                            <a href="" ng-click="goFirst()">First</a>
                        </li>
                        <li ng-if="notFirst">
                            <a href="" ng-click="prev()" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li ng-class="(page == n) ? 'active' : ''" ng-if="numberOfPages > 1"
                            ng-repeat="n in [] | pages: page:numberOfPages">
                            <a href="" ng-click="goToPage(n)">{{n+1}} </a>
                        </li>
                        <li ng-if="notLast">
                            <a ng-click="next()" href="" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="previous" ng-if="notLast">
                            <a href="" ng-click="goLast()">Last</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-sx-12">

                <table class="table table-bordered users_table">
                    <thead>
                    <tr>
                        <th>
                            <a href="" ng-click="sortUsers(page, 'id', false)">ID</a>
                            <a href="" ng-click="sortUsers(page, 'id', true)">(desc)</a>
                        </th>
                        <th>
                            <a href="" ng-click="sortUsers(page, 'login', false)">Login</a>
                            <a href="" ng-click="sortUsers(page, 'login', true)">(desc)</a>
                        </th>
                        <th>
                            <a href="" ng-click="sortUsers(page, 'name', false)">Username</a>
                            <a href="" ng-click="sortUsers(page, 'name', true)">(desc)</a>
                        </th>
                        <th>
                            <a href="" ng-click="sortUsers(page, 'admin', false)">Admin</a>
                            <a href="" ng-click="sortUsers(page, 'admin', true)">(desc)</a>
                        </th>
                        <th>
                            <a href="" ng-click="sortUsers(page, 'banned', false)">Banned</a>
                            <a href="" ng-click="sortUsers(page, 'banned', true)">(desc)</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users">
                        <td>{{user.id}}</td>
                        <td>{{user.login}}</td>
                        <td>{{user.name}}</td>
                        <td class="butt_td">
                            <button class="btn btn-default" ng-click="admin(user.id)">{{user.admin}}</button>
                        </td>
                        <td class="butt_td">
                            <button class="btn btn-default" ng-click="ban(user.id)">{{user.banned}}</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <section class="col-lg-6 col-md-6 col-sm-12 col-xs-12 center-block no_data">
                <div ng-if="noUsers" class="alert alert-info">
                    No users found
                </div>
            </section>
        </div>
    </div>

</div>