<div ng-controller="usersCtrl">
    <ul class="menu">
        Sort by:
        <li>
            <a href="" ng-click="sortUsers(page, 'id', false)">ID</a>
            <a href="" ng-click="sortUsers(page, 'id', true)">(desc)</a>
        </li>
        <li>
            <a href="" ng-click="sortUsers(page, 'login', false)">Login</a>
            <a href="" ng-click="sortUsers(page, 'login', true)">(desc)</a>
        </li>
        <li>
            <a href="" ng-click="sortUsers(page, 'name', false)">Username</a>
            <a href="" ng-click="sortUsers(page, 'name', true)">(desc)</a>
        </li>
        <li>
            <a href="" ng-click="sortUsers(page, 'admin', false)">Admin</a>
            <a href="" ng-click="sortUsers(page, 'admin', true)">(desc)</a>
        </li>
        <li>
            <a href="" ng-click="sortUsers(page, 'banned', false)">Banned</a>
            <a href="" ng-click="sortUsers(page, 'banned', true)">(desc)</a>
        </li>
    </ul>
    <table style="border-style: double;">
        <thead>
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Username</th>
            <th>Admin</th>
            <th>Banned</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.id}}</td>
            <td>{{user.login}}</td>
            <td>{{user.name}}</td>
            <td>
                <button ng-click="admin(user.id)">{{user.admin}}</button>
            </td>
            <td>
                <button ng-click="ban(user.id)">{{user.banned}}</button>
            </td>
        </tr>
        </tbody>
    </table>

    <ul class="menu">
        <li ng-if="notFirst">
            <a href="" ng-click="goFirst()">First</a>
        </li>
        <li ng-if="notFirst">
            <a href="" ng-click="prev()">Prev</a>
        </li>
        <li ng-if="numberOfPages > 1" ng-repeat="n in [] | pages: page:numberOfPages">
            <a href="" ng-click="goToPage(n)">{{n+1}} </a>
        </li>
        <li ng-if="notLast">
            <a href="" ng-click="next()">Next</a>
        </li>
        <li ng-if="notLast">
            <a href="" ng-click="goLast()">Last</a>
        </li>
    </ul>

    <div ng-if="noUsers">
        No users found
    </div>

</div>