<div ng-controller="loginCtrl" class="container-fluid">
    <div class="row">
        <div class="center-block col-lg-3 col-md-5 col-sm-7 col-xs-10" style="float: none">
            <form ng-submit="performLogin()" name="loginForm" class="login_form">
                <div class="form-group"
                     ng-class="{ 'has-error' : loginForm.login.$invalid && !loginForm.login.$pristine}">
                    <label>Login
                        <input class="form-control" type="email" id="login" ng-model="user.login" name="login"
                               ng-minlength="3" ng-maxlength="60" placeholder="Your e-mail" required>
                    </label>
                    <p ng-show="loginForm.login.$invalid && !loginForm.login.$pristine" class="help-block">
                        E-mail is required for login</p>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine}">
                    <label>Password
                        <input type="password" class="form-control" id="password" ng-model="user.password"
                               minlength="3" maxlength="15" name="password" placeholder="Password" required>
                    </label>
                    <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">
                        Password should be between 3 and 15 characters long</p>
                </div>
                <button ng-disabled="loginForm.$invalid || is_user_logged_in" type="submit" class="btn btn-info">Login</button>
            </form>
            <div id="log_result"></div>
        </div>
    </div>
</div>
